{% for comp in comps -%}
(comp (ref "{{ comp.name }}")
  (value "{{ comp.value }}")
  (footprint "{{ comp.footprint }}")
  (datasheet "{{ comp.datasheet }}")
  (fields {% for field in comp.fields %}
    (field (name "{{ field }}") "{{ comp.fields[field] }}"){% endfor %})
  (libsource (lib {{ comp.lib }}) (part {{ comp.part }}))
  (sheetpath (names /) (tstamps /))
  (tstamps "{{ comp.tstamp }}")){% if not loop.last %}
{% endif %}{%- endfor %}