(export (version "E")
  (design
    (source "{{ source }}")
    (date "{{ date }}")
    (tool "{{ tool }}")
{% if components %}  (components {% filter indent(width=4) %}
{{ components }}){% endfilter %}{% endif %}
{% if libparts %}  (libparts {% filter indent(width=4) %}
{{ libparts }}){% endfilter %}{% endif %}
{% if nets %}  (nets {% filter indent(width=4) %}
{{ nets }}){% endfilter %})){% endif %}