nav:
- Home: index.md
- Getting started:
  - getting-started.md
- Packages:
  - blank: readme_blank.md
- Blog:
  - blog/index.md
plugins:
- drawio_file
- blog
repo_name: atopile/atopile
repo_url: https://github.com/atopile/atopile
site_name: atopile
theme:
  features:
  - navigation.tabs
  - navigation.sections
  - toc.follow
  #- header.autohide
  icon:
    repo: fontawesome/brands/git-alt
  name: material
  custom_dir: docs/overrides
  logo: assets/ato_logo_256x256.png
  favicon: images/ato_logo_256x256.png
  palette:
    primary: blue grey
