nav:
- Home: index.md
- Getting started:
  - new-getting-started.md
  - first_project.md
  - getting-started.md
- Packages:
  - blank: readme_blank.md
- Blog:
  - blog/index.md
plugins:
- drawio_file
- blog
repo_name: atopile/atopile
repo_url: https://github.com/atopile/atopile
site_name: atopile
# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

theme:
  features:
  - navigation.tabs
  - navigation.sections
  - toc.follow
  #- header.autohide
  icon:
    repo: fontawesome/brands/git-alt
  name: material
  custom_dir: docs/overrides
  logo: assets/ato_logo_256x256.png
  favicon: images/ato_logo_32x32.png
  palette:
    primary: blue grey
