Language: Cpp
IndentWidth: 4
UseTab: Never
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
ColumnLimit: 89
SeparateDefinitionBlocks: Always
