<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="{{csp}}">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe id="packages-iframe" src="{{packagesUrl}}"></iframe>
    <script nonce="{{nonce}}">
        const vscode = acquireVsCodeApi();
        const iframe = document.getElementById('packages-iframe');

        const downwardEventTypes = ['vscode-theme', 'project-name', 'package-status'];
        window.addEventListener('message', (event) => {
            if (downwardEventTypes.includes(event.data.type)) {
                iframe.contentWindow.postMessage(event.data, '*');
            }
        });

        const upwardEventTypes = ['request-theme', 'install-package', 'upgrade-package', 'uninstall-package', 'request-project-name', 'subscribe-package', 'copy-text'];
        window.addEventListener('message', (event) => {
            if (event.source === iframe.contentWindow) {
                if (upwardEventTypes.includes(event.data.type)) {
                    vscode.postMessage(event.data);
                }
            }
        });
    </script>
</body>
</html>
