.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/resources/kicanvas/kicanvas.js
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.venv/**
.nox/**
.github/
**/__pycache__/**
**/.pyc
bundled/libs/bin/**
noxfile.py
.pytest_cache/**
.pylintrc
**/requirements.txt
**/requirements.in
**/tool/_debug_server.py