{% for component in components -%}
(comp (ref "{{ component.ref }}")
  (value "{{ component.value }}"){% if component.footprint %}
  (footprint "{{ component.footprint }}"){% endif %}{% if component.datasheet %}
  (datasheet "{{ component.datasheet }}"){% endif %}{% if component.fields %}
  (fields {% for field in component.fields %}
    (field (name "{{ field.name }}") "{{ field.value }}"){% endfor %}){% endif %}
  (libsource (lib "{{ component.libsource.lib }}") (part "{{ component.libsource.part }}") (description "{{ component.libsource.description }}"))
  (sheetpath (names "{{ component.sheetpath.names}}") (tstamps "{{ component.sheetpath.tstamps}}"))
  (tstamps "{{ component.tstamp }}")){% if not loop.last %}
{% endif %}{%- endfor %}