{% for comp in comps -%}
(comp (ref "{{ comp.name }}")
  (value "{{ comp.value }}"){% if comp.footprint %}
  (footprint "{{ comp.footprint }}"){% endif %}{% if comp.datasheet %}
  (datasheet "{{ comp.datasheet }}"){% endif %}{% if comp.fields %}
  (fields {% for field in comp.fields %}
    (field (name "{{ field.name }}") "{{ field.value }}"){% endfor %}){% endif %}
  (libsource (lib "{{ comp.lib }}") (part "{{ comp.part }}") (description "{{ comp.description }}"))
  (sheetpath (names "{{ comp.sheetpath_name}}") (tstamps "{{ comp.sheetpath_tstamp}}"))
  (tstamps "{{ comp.tstamp }}")){% if not loop.last %}
{% endif %}{%- endfor %}