name: pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version-file: 'pyproject.toml'

    - uses: pre-commit/action@v3.0.1

    - name: Fail on diff after pre-commit is run
      run: git diff --exit-code
