name: pytest

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  KICAD_VERSION: "9.0"

jobs:
  pytest:
    #runs-on: blacksmith-4vcpu-ubuntu-2404
    #runs-on: blacksmith-32vcpu-ubuntu-2404-arm
    runs-on: blacksmith-32vcpu-ubuntu-2404
    #runs-on: [self-hosted]
    #runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Required due to a bug in the checkout action
      # https://github.com/actions/checkout/issues/1471
      - run: git fetch --prune --unshallow --tags

      - name: Prepare artifacts dir
        run: mkdir -p artifacts

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: 0.8
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          # self-hosted runner struggles with this one
          python-version-file: "pyproject.toml"
          #python-version: "3.13"

      - name: "Install dependencies"
        run: |
          uv sync --dev --no-install-project --frozen
        env:
          UV_CACHE_DIR: /var/cache/uv

      - name: "Compile & build package"
        run: |
          uv pip install --no-deps .

      - name: Run pytest
        id: pytest
        continue-on-error: true
        # FIXME timeout
        run: |
          uv run \
            test/runner/main.py \
            -m "not not_in_ci and not slow and not regression" \
            --timeout=900 \
        env:
          PYTHONPATH: .
          GH_TOKEN: ${{ github.token }}
          COLUMNS: 150 # rich console width will be pulled from this
          FBRK_TEST_REPORT_INTERVAL: 10
          FBRK_TEST_LONG_THRESHOLD: 30
          FBRK_TEST_SHOW_PYTEST_OUTPUT: 0
          FBRK_TEST_WORKERS: -2 # 32 threads/16 cpus -> 32 workers
          FBRK_TEST_PERIODIC_HTML: 0
          FBRK_TEST_GENERATE_HTML: 1
          PYTHON_UNBUFFERED: 1

      - name: Upload test report json artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report.json
          path: artifacts/test-report.json
          if-no-files-found: error

      - name: Upload test report html artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-report.html
          path: artifacts/test-report.html
          if-no-files-found: warn

      - name: Check pytest status
        if: steps.pytest.outcome == 'failure'
        run: exit 1
