name: pytest

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  pytest:
    runs-on: blacksmith-8vcpu-ubuntu-2204
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Required due to a bug in the checkout action
    # https://github.com/actions/checkout/issues/1471
    - run: git fetch --prune --unshallow --tags

    - name: Install uv
      uses: useblacksmith/setup-uv@v4
      with:
        version: 0.5.5
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: "Set up Python"
      uses: useblacksmith/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2

    # Required by examples
    # TODO: remove dependency on global fp-lib-table
    - name: Prepare test environment
      run: |
        mkdir -p ~/.config/kicad/8.0/
        aws s3 cp "s3://${{ secrets.TEST_DATASET_BUCKET }}/kicad-8.0-fp-lib-table" ~/.config/kicad/8.0/fp-lib-table

        mkdir -p /usr/share/kicad/
        aws s3 cp "s3://${{ secrets.TEST_DATASET_BUCKET }}/kicad-8.0-footprints.tar.gz" - | tar -xz -C /usr/share/kicad/

    - name: Run pytest
      id: pytest
      continue-on-error: true
      run: >
        uv run --dev --no-editable --frozen
        --with pytest-github-actions-annotate-failures
        pytest
        -m "not not_in_ci and not slow and not regression"
        --timeout=300
      env:
        GH_TOKEN: ${{ github.token }}
        PYTEST_HISTORY_EMAIL: ${{ vars.PYTEST_HISTORY_EMAIL }}
        PYTEST_HISTORY_PASSWORD: ${{ secrets.PYTEST_HISTORY_PASSWORD }}
        COLUMNS: 150  # rich console width will be pulled from this

    - name: Upload all test logs
      if: steps.pytest.outcome == 'failure'
      uses: actions/upload-artifact@v4
      with:
        name: test-logs
        path: artifacts/**/*.log
        if-no-files-found: warn

    - name: Upload all test report
      if: steps.pytest.outcome == 'failure'
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: artifacts/test-report.html

    - name: Check pytest status
      if: steps.pytest.outcome == 'failure'
      run: exit 1
